Declare two variables, `x` and `y`, and assign them integer values. Swap the
values of these variables without using any temporary variable.

In [4]:
X=10
y=5
y=X
X=y-5
print("The value of X is:", X)
print("The value of y is :", y)

The value of X is: 5
The value of y is : 10

Create a program that calculates the area of a rectangle. Take the length and
width as inputs from the user and store them in variables. Calculate and
display the area.

In [5]:
Length=int(input("Enter the value of length as l: "))
Width=int(input("Enter the value of width as w: "))
Area= Length * Width
print(" The area of rectangle is:" ,Area)

Enter the value of length as l: 15
Enter the value of width as w: 20
 The area of rectangle is: 300

Write a Python program that converts temperatures from Celsius to
Fahrenheit. Take the temperature in Celsius as input, store it in a variable,
convert it to Fahrenheit, and display the result.

In [7]:
temp=float(input("Enter the value of temp as T in Celsius: "))
Temp=temp*9//5+32
print("The temperature in Fahrenheit is:",Temp)

Enter the value of temp as T in Celsius: 38.6
The temperature in Fahrenheit is: 101.0

String based question

1. Write a Python program that takes a string as input and prints the length of
the string.

In [16]:
str1=str(input("Enter the value of str: "))
print("The length of str1 is:" ,len(str1))

Enter the value of str: "Laxmima"
The length of str1 is: 9

Create a program that takes a sentence from the user and counts the number
of vowels (a, e, i, o, u) in the string.

In [19]:
str2=str(input("Enter the value of str: "))
vowel_count=0
vowels="aeiou"
for i in str2:
  if i in vowels:
    vowel_count+=1

print(" The vowel count in the  string is :",vowel_count)

Enter the value of str: "My name is jyothi and am studying datascience"
 The vowel count in the  string is : 14

Given a string, reverse the order of characters using string slicing and print
the reversed string.

In [27]:
str3="My name is jyothi"
str4=str3[::-1]
print(str4)

ihtoyj si eman yM

4. Write a program that takes a string as input and checks if it is a palindrome
(reads the same forwards and backwards).

In [28]:
str5=str(input("Enter the value of str: "))
str6=str5[::-1]
print(str6)

Enter the value of str: "Laxmima"
"amimxaL"

5. Create a program that takes a string as input and removes all the spaces from
it. Print the modified string without spaces.

In [29]:
str1="My name is jyothi and am studying data science"
str2=str1.split()
str3="".join(str2)
print(str3)

Mynameisjyothiandamstudyingdatascience